/* All Pages */

html {
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(
    10deg,
    #f7f7ffff,
    #a64253ff,
    #d76a03ff,
    #279af1ff,
    #32e875ff
  );
}

/* Intro Page */
div#intro-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 25px; */
  /* margin: 25px; */
}
.intro-img {
  place-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
}

img#fullLogo {
  padding: 0;
  box-shadow: 0 0 10px 10px white;
  width: 410px;
}

#not-found {
  width: 95dvw;
}

#not-found img {
  width: 35dvw;
  box-shadow: 0 0 10px 10px inset #fff;
  margin: 10dvh;
}

img {
  /* margin-top: %; */
  width: 60%;
  /* border: 2px solid #32e875ff; */
  border-radius: 70px;
  /* i want the img border to be heart shaped */
  padding: 25px;
}

#intro-h1,
#welcome {
  color: #a64253ff;
  /* downloaded PlayfairDisplay font not working */
  font-family: "Playfair Display";
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  letter-spacing: 1rem;
  width: 90%;
  border-radius: 3px 15px;
  margin-left: auto;
  margin-right: auto;
}

#intro-h1 {
  background-color: hsla(240, 100%, 98%, 1);
}

.intro {
  margin-top: 0;
  padding-top: 0;
  bottom: 10rem;
}

h2 {
  /* PlayfairDisplay - paste link */
  color: #279af1ff;
  margin-top: 0;
  font-family: "PlayfairDisplay";
  letter-spacing: 0.5rem;
  font-size: 3rem;
}

footer {
  width: 100%;
  position: relative;
  bottom: 3px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  /* margin */
}

nav {
  margin-bottom: 35px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

/* Home Page */

/* Base Logo */

#logo-heart {
  position: relative;
  width: 200px;
  height: 200px;
  content: "";
  background-color: #fff;
}

#logo-heart::before {
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 200px;
  height: 200px;
  /* content: ""; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

#logo-heart::after {
  position: absolute;
  top: -100px;
  right: 0px;
  width: 200px;
  height: 200px;
  /* content: ""; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

#logo-heart > img {
  border-radius: 70px;
  width: 35%;
  margin: 25px auto 15px;
  padding: 0;
  box-shadow: 0 0 10px 10px #fff;
}
/* Welcome Home Greeting with username*/

.welcome {
  background-color: #f5f5ffbf;
  border-radius: 10px 40px;
  width: 70%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 10px #fff;
}

#schedule,
#Schedule {
  /* border: solid 2px; */
  /* padding: 3px; */
  margin: 0 auto;
  width: 60%;
}

.addButton {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: solid 2px;
  padding: 5px;
  background-color: #a64253ff;
  text-align: left;
}

/* Current Weather Img dependent upon the weather

Current Date and time based on location
Current Location
 Navigation Legend */

/* Discussion Forum */
#allPosts {
  background-color: rgb(190, 114, 42);
  border: 2px solid #a64253ff;
}

/* media queries */
@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}

@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }

  .intro-img {
    place-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
  }
  #not-found {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 75dvw;
  }
  #not-found img {
    margin: 60px auto 20px;
  }
}
