/* All Pages */

html {
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(
    10deg,
    #f7f7ffff,
    #a64253ff,
    #d76a03ff,
    #279af1ff,
    #32e875ff
  );
}

/* Intro Page */
div#intro-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 25px; */
  /* margin: 25px; */
}
.intro-img {
  place-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
}

img#fullLogo {
  padding: 0;
  box-shadow: 0 0 10px 10px white;
  width: 410px;
}

#not-found {
  width: 95dvw;
}

#not-found img {
  width: 35dvw;
  box-shadow: 0 0 10px 10px inset #fff;
  margin: 10dvh;
}

img {
  /* margin-top: %; */
  width: 60%;
  /* border: 2px solid #32e875ff; */
  border-radius: 70px;
  /* i want the img border to be heart shaped */
  padding: 25px;
}

#intro-h1,
#welcome {
  color: #a64253;
  letter-spacing: 1rem;
  border-radius: 3px 15px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  font-family: Playfair Display;
  font-size: 2rem;
}

#intro-h1 {
  background-color: hsla(240, 100%, 98%, 1);
}

.intro {
  margin-top: 0;
  padding-top: 0;
  bottom: 10rem;
}

h2 {
  /* PlayfairDisplay - paste link */
  color: #279af1ff;
  margin-top: 0;
  font-family: "PlayfairDisplay";
  letter-spacing: 0.5rem;
  font-size: 3rem;
}

footer {
  width: 100%;
  position: relative;
  bottom: 3px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  /* margin */
}

nav {
  margin-bottom: 35px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

/* Home Page */

/* Base Logo */

#logo-heart {
  position: relative;
  width: 100px;
  height: 200px;
  margin: auto;
  z-index: 1;
}

#logo-heart::after,
#logo-heart::before {
  position: absolute;
  content: "";
  left: 90px;
  top: 0;
  width: 100px;
  height: 160px;
  background: #f7f7ffff;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  box-shadow: 0 0 8px 8px #fff;
}

#logo-heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
}

#logo-heart > img {
  z-index: 9;
  border-radius: 50px 50px 95px 85px;
  width: 145%;
  margin: 25px auto 15px;
  padding: 0;
  position: relative;
  top: -10px;
  left: 25px;
}
/* Welcome Home Greeting with username*/

.welcome {
  background-color: #f5f5ffbf;
  border-radius: 10px 40px;
  width: 70%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 10px #fff;
}

/* Schedule */

#schedule,
#Schedule {
  /* border: solid 2px; */
  /* padding: 3px; */
  margin: 0 auto;
  width: 60%;
}

form.addPlantSchedule {
   width: 150%;
  margin-left: -155px;
}

button.addPlantSchedule {
  cursor: pointer;
  background-color: #0000;
  border: none;
  padding: 10px;
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
}

.schedule-inputs {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  margin: 10px 0;
}

.schedule-inputs input, .schedule-inputs select {
  height: 30px;
}

.schedule-inputs h3 {
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: solid 2px;
  padding: 5px;
  background-color: #a64253ff;
  text-align: left;
}

/* Current Weather Img dependent upon the weather

Current Date and time based on location
Current Location
 Navigation Legend */

/* Discussion Forum */
#allPosts {
  background-color: rgb(190, 114, 42);
  border: 2px solid #a64253ff;
}

/* Carebooks */

#search form {
  margin: 15px;
}

.postSearch {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

button.plantSearch {
  background: white;
  border: thin solid;
}

form.createPost {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.postContent {
  display: flex;
  flex-direction: column;
}

input#post {
  flex-grow: 3;
}

.postContent > button {
  align-self: center;
  margin: 5px;
  height: 30px;
}

table.searchedPlantsList {
  display: inline-table;
  align-content: center;
}

/* Mygarden */

button.addNewEntry {
  cursor: pointer;
  background-color: #0000;
  border: none;
  padding: 10px;
}


/* media queries */
@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}

@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }

  .intro-img {
    place-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
  }
  #not-found {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 75dvw;
  }
  #not-found img {
    margin: 60px auto 20px;
  }
}
